
/*body or overall site*/
body{
    background-color:#ffffff;
}

/*brand name and heading*/
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* all photos*/
.photo-ref{
    color:#dbacac;
}

.photo-ref a{
    text-decoration: none;
    color:#dbacac;
}

img{
    border-radius: 25px;
}

/*title section*/

/*navigation bar*/
nav {
    height:auto;
    background-color: #dbacac;
}

.nav-link{
    font-size: 1rem;
    font-weight:bold;
    color:#ffffff;
}

.navbar-brand{
    font-size:4rem;
    color:#ffffff;
}

/*images at the top*/
#topImg{
    padding-top: 30px;
    padding-bottom:30px;
}
#topImg img{
    width:100%;
}
/*about us*/
#aboutUs{
    padding-top: 30px;
    padding-bottom:30px;
}

/*services*/
#services{
    padding:50px;
}

#services .col-lg{
    padding-top:30px;
    padding-bottom:30px;
}

#services img{
    width:100%;
    height: auto;
}

/*reviews*/
#reviews{
    padding: 50px;
}

#reviews .carousel-inner {
    padding: 150px;
    background-color: #dbacac;
    color:#f8f7f2;
    border-radius: 25px;
}


#booking{
    padding:50px;
    color:#301B14;
}


#booking form{
    padding-top:50px;
    padding-bottom: 50px;
    padding-right: auto;
}
#booking .btn{
    color:#f8f7f2;
    background-color:#301B14;
    width:auto;
}
#booking .btn:hover{
    background-color:#dbacac;
}


#contacts{
    padding:50px;
    color:#301B14;
}

#contacts form{
    border-radius: 25px;
    padding-top:50px;
    padding-bottom: 50px;
    padding-right: auto;
}
#contacts .btn{
    width:auto;
    background-color:#301B14;
    color:#f8f7f2;
}

#contacts .btn:hover{
    background-color:#dbacac;
}


/*brand logo
#brandLogo {
    max-width:120px;
    max-height: 120px;
}*/

.fa-brands{
    color:#f8f7f2;
    width: 50px;
    height: 50px;
}

.fa-brands:hover{
    color:#f8c714;
}

/*footer*/
footer{
    /*background-image: url(../images/bodyBackground.png);*/
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #dbacac;
    color:#f8f7f2;
    margin-left:-15px;
    margin-right:-15px;
    text-align: center;
}
footer .col{
    padding-top: 20px;
}